@import '../../sass/variables/colors'

.project-table
	width: 100%
.project-table__table
	background-color: #202124
	width: 100%
	td
		padding: 20px 12px
		color: #fff
.project-table__tab
	padding: 10px 15px
	font-size: 18px
	height: 50px
	border: 1px solid #414144
.project-table__row
	display: grid
	grid-template-columns: 0.8fr 2fr 1fr 1fr 1fr 1fr
	border-top: 1px solid #414144
	border-bottom: 1px solid #414144
	height: 60px
.project-table__headings
	color: #A1A1AA
	padding: 12px
	border-top: none
	th
		font-weight: 400
		text-align: left